services:

  app:
    image: vaultwarden/server:1.35.1
    restart: always
    environment:
      - VIRTUAL_PORT=80
      - VIRTUAL_HOST=${VIRTUAL_HOST}
      - LETSENCRYPT_HOST=${LETSENCRYPT_HOST}
      - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}
      - DOMAIN=${DOMAIN}
      - ADMIN_TOKEN=${ADMIN_TOKEN}
      - SIGNUPS_ALLOWED=false
    volumes:
      - data:/data
    networks:
      frontend:

networks:
  frontend:
    name: proxy_frontend
    external: true

volumes:
  data:

